<section class="secondary" id="mycart">
    <div id="basket_list">
        <div class="col-sm-12 col-md-4 col-lg-4 d-inline-flex justify-content-center">
            {{!-- <div class="card" style="width: auto;height: auto;"> --}}


            {{!-- <div class="card-header bg-white border-0 d-flex justify-content-between"> --}}
            {{!-- <div> --}}
            <style>
                table {
                    border-collapse: collapse;
                    width: 100%;
                    margin-left: 30rem;
                }

                th,
                td {
                    text-align: left;
                    padding: 8px;
                }

                tr:nth-child(even) {
                    background-color: #f2f2f2;
                }
            </style>
            <table>
                <tr>
                    <th>Beer Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub-total</th>
                </tr>
                {{#each purchase}}
                <tr>
                    <td>{{beer_name}}</td>
                    <td>{{price}}</td>
                    <td>{{quantity}}</td>
                    <td>{{total_price}}</td>
                </tr>
                {{/each}}
            </table>

            {{!-- <section class="container content-section">
                <h2 class="section-header" style="max-width: 900px; margin: 0 auto; padding: 0 1.5em;">CART</h2>
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">{{beer_name}}</span>
                    <span class="cart-price cart-header cart-column">{{price}}</span>
                    <span class="cart-quantity cart-header cart-column">{{quantity}}</span>
                </div>
                <div class="cart-items">
                </div>
                <div class="cart-total">
                    <strong class="cart-total-title">{{total_price}}</strong>
                    <span class="cart-total-price">$0</span>
                </div>
            </section> --}}
            {{!-- <button class="btn btn-primary btn-purchase" type="button">PURCHASE</button> --}}
            {{!-- <li>{{beer_name}} {{volumn}} {{total_price}} {{quantity}} <a class="btn" id="wish_btn1"><i
                                class="far fa-2x fa-times-circle "></i></a> <a class="btn" id="wish_btn1"><i
                                class="far fa-2x fa-star "></i></a></li> --}}
            {{!-- <a class="btn" id="wish_btn1"><i class="far fa-2x fa-star "></i></a>
                    <a class="btn" id="wish_btn1"><i class="far fa-2x fa-times-circle "></i></a> --}}
            {{!-- </div> --}}
            {{!-- <div class="card-body">
                    <h5 class="card-title text-center h2">{{beer_name}}</h5>
                    <p class="card-text text-center h4">{{volumn}} ML </p>
                    <br>
                    <p class="card-text text-center h4">$ {{total_price}} /Can</p>
                    <br>
                    <p class="card-text text-center h4">You ordered {{quantity}} Cans</p>
                    <br>

                </div> --}}
            {{!-- </div> --}}
        </div>
    </div>
</section>

<section>
    <div class="container" id="prmote_code__enter">
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="promoteCode">Please Input Our Promote Code Here</label>
                    <input type="text" class="form-control" placeholder="e.g: nobeernolifex10">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>

<section id="confirm_div">
    <div class="container secondary">
        <div class="col-8 text-center">
            <div class="d-flex flex-column ">
                <div class="d-flex justify-content-between">
                    <p class="h4">Sub-total</p>
                    <p class="h4" id="#">HKD$ {{lookup money 'sub'}}</p>
                </div>
                <div class="col mt-2" id="code_entered"></div>
                <div class="d-flex justify-content-between">
                    <p class="h4">Delivery</p>
                    <p class="h4" id="delivery_fee">HKD$ 100</p>
                </div>
                <small class="text-muted text-right">Free(If order over $ 500)</small>
                <br>
                <div class="d-flex justify-content-between">
                    <p class="h1 text-uppercase">Total</p>
                    <p class="h1"> HKD$
                    <p class="h1" id="total_$"></p>
                    </p>

                </div>
            </div>
        </div>
    </div>

</section>

<div class="container pb-5"> <a href="/checkout/delivery"
        class="text-white btn-lg btn-primary btn-block text-center rounded" type="button">Proceed to Delivery
    </a></div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>