<section class="secondary" id="mycart">
    <div class="content-section row col-lg-12 col-xl-10 d-flex mx-auto homepage_beer" id="basket_list">
        {{#each purchase}}
        <div class="col-md-12 col-lg-6 col-xl-4 d-inline-flex mb-3 animate__fadeInLeft beer_each">
            <div class="card" style="width: 25rem;">
                <div class="card-header align-middle ">
                    <h5 class="card-title text-center h2 ">{{beer_name}}</h5>
                </div>
                <div class="row">
                    <div class="col d-inline-flex">
                        <a type="button" class="btn bg-white" id="wish_btn1" data-toggle="tooltip" data-placement="top"
                            title="Add to Favourites">
                            <i class="far fa-2x fa-star" id="{{id}}" onclick="addFavourites(this.id)"></i>
                        </a>
                        <a href="/beer/{{id}}" class="mx-auto"><img class="card-img-top mx-auto d-block products__img"
                                src="/{{thumbnail}}" alt="Card image cap" style="width: 160px;">
                        </a>
                        <a type="button" class="btn bg-white" id="wish_btn2" data-toggle="tooltip" data-placement="top"
                            title="Remove">
                            <i class="far fa-2x fa-times-circle" id="{{id}}" onclick="remove(this.id)"></i>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">{{volumn}} ML</li>
                        <li class="list-group-item text-center">$ {{total_price}} /Can</li>
                    </ul>
                </div>
                <div class="card-footer text-center">
                    <p class="card-text text-center h4">You ordered {{quantity}} Cans</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</section>

<section>
    <div class="container" id="prmote_code__enter">
        <div class="col">
            <form>
                <div class="form-group">
                    <label for="promoteCode">Please Input Our Promote Code Here</label>
                    <input type="text" class="form-control" placeholder="e.g: nobeernolifex10">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</section>

<section id="confirm_div">
    <div class="container secondary">
        <div class="col-8 text-center">
            <div class="d-flex flex-column ">
                <div class="d-flex justify-content-between">
                    <p class="h4">Sub-total</p>
                    <p class="h4" id="#">HKD$ {{lookup money 'sub'}}</p>
                </div>
                <div class="col mt-2" id="code_entered"></div>
                <div class="d-flex justify-content-between">
                    <p class="h4">Delivery</p>
                    <p class="h4" id="delivery_fee">HKD$ 100</p>
                </div>
                <small class="text-muted text-right">Free(If order over $ 500)</small>
                <br>
                <div class="d-flex justify-content-between">
                    <p class="h1 text-uppercase">Total</p>
                    <p class="h1"> HKD$
                    <p class="h1" id="total_$"></p>
                    </p>

                </div>
            </div>
        </div>
    </div>

</section>

<div class="container pb-5"> <a href="/checkout/delivery"
        class="text-white btn-lg btn-primary btn-block text-center rounded" type="button">Proceed to Delivery
    </a></div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>