<section class="secondary">
    {{!--user ac dropdown bar start --}}
    <div class="dropdown text-center d-flex justify-content-center">
        <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="myAC_dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </button>
            <div class="dropdown-menu" aria-labelledby="myAC_dropdown" style="font-size: 20px">
                <a class="dropdown-item text-white" href="/user/profile">Account Details</a>
            </div>
        </div>
        <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="myPurchase_dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activity
            </button>
            <div class="dropdown-menu" aria-labelledby="myPurchase_dropdown" style="font-size: 20px">
                <a class="dropdown-item text-white" href="/user/purchase_history">Purchases</a>
                <a class="dropdown-item text-white" href="/user/wishlist">Wishlist</a>
                <a class="dropdown-item text-white" href="/user/comment">Comments</a>
            </div>
        </div>
        <div class="dropdown p-2">
            <button class="btn btn-secondary btn-lg" type="button" id="discount" aria-haspopup="true"
                aria-expanded="false">
                <a class="text-white text-decoration-none" href="/user/discount">Discount Codes</a>
            </button>
        </div>
    </div>
    {{!-- end of user ac dropdown bar --}}

    {{#each userInfo}}
    <form id="accountDetails" class="col-12 text-center" action="/updateAccountDetails" method="POST">
        <div class="form-group row" style="font-size:24px;font-weight:700">
            Account Details
        </div>
        <div class="form-group row">
            <label for="firstName" class="col-3 col-form-label">First Name</label>
            <div class="col-6">
                <input class="form-control" type="text" name="fname" value="{{first_name}}" id="fname" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-3 col-form-label">Last Name</label>
            <div class="col-6">
                <input class="form-control" type="search" name="lname" value="{{last_name}}" id="lname" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="emailInput" class="col-3 col-form-label">Email</label>
            <div class="col-6">
                <input class="form-control" type="email" name="email" value="{{email}}" id="email" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="telInput" class="col-3 col-form-label">Telephone</label>
            <div class="col-6">
                <input class="form-control" type="tel" name="telephone" value="{{phone}}" id="tel">
            </div>
        </div>
        <div class="form-group row">
            <label for="firstName" class="col-3 col-form-label">Address</label>
            <div class="col-6">
                <input class="form-control" type="text" name="address" value="{{address}}" id="address">
            </div>
        </div>
        <input type="submit" class="btn btn-secondary mr-auto ml-auto">
    </form>
    {{/each}}
</section>

<script type='text/javascript'>

</script>