<section class="secondary beer_each">

    {{!--user ac dropdown bar start --}}
    <div class="dropdown text-center d-flex justify-content-center">
        <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="myAC_dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My Account
            </button>
            <div class="dropdown-menu" aria-labelledby="myAC_dropdown" style="font-size: 20px">
                <a class="dropdown-item text-white" href="/user/profile">Account Details</a>
            </div>
        </div>
        <div class="dropdown p-2">
            <button class="btn btn-secondary dropdown-toggle btn-lg" type="button" id="myPurchase_dropdown"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Activity
            </button>
            <div class="dropdown-menu" aria-labelledby="myPurchase_dropdown" style="font-size: 20px">
                <a class="dropdown-item text-white" href="/user/purchase_history">Purchases</a>
                <a class="dropdown-item text-white" href="/user/wishlist">Wishlist</a>
                <a class="dropdown-item text-white" href="/user/comment">Comments</a>
            </div>
        </div>
        <div class="dropdown p-2">
            <button class="btn btn-secondary btn-lg" type="button" id="discount" aria-haspopup="true"
                aria-expanded="false">
                <a class="text-white text-decoration-none" href="/user/discount">Discount Codes</a>
            </button>
        </div>
    </div>
    {{!-- end of user ac dropdown bar --}}

    {{!-- the start of bill --}}
    <div class="col-6 offset-3 text-center p-0">
        <div class="form-group row discountCodeContainer" style="font-size:24px;font-weight:700">
            My Purchase History
        </div>
        <div class="userInfoContainer border border-secondary rounded bg-light p-0">
            <table class="table table-sm table-borderless table-hover">
                <thead>

                    <tr class="table-secondary">
                        <th class="border-bottom border-dark" scope="col">Item Name</th>
                        <th class="border-top border-bottom border-dark" scope="col">Cans</th>
                        <th class="border-top border-bottom border-dark" scope="col">Unit Px (HKD)</th>
                        <th class="border-top border-bottom border-dark" scope="col">Total Px (HKD)</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each purchase}}
                    <tr>
                        <td>{{beer_name}}</td>
                        <td>{{quantity}}</td>
                        <td>{{price}}</td>
                        <td>{{total_price}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                <tfoot>
                    <tr>
                        <th class="table-primary border-top border-bottom border-dark" scope="row">Total (HKD)</th>
                        <td class="table-primary border-top border-bottom border-dark" colspan="2"></td>
                        <td class=" table-primary border-top border-bottom border-dark">
                            {{lookup money 'total'}}</td>
                    </tr>

                </tfoot>
            </table>
        </div>
        <br>

    </div>
    </div>
</section>